/* @import "bootstrap/bootstrap";
 */
/* aca empiezan mis estilos*/
body {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0;
  padding: 0;
  display: grid; }

#header {
  background: white;
  height: 150px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99; }

.header-banner {
  background: #0a060e;
  background: radial-gradient(circle, black 46%, #aa6fe6 91%, #ada4b1 100%);
  padding: 1px;
  text-align: center;
  color: azure;
  height: 1.5em;
  width: 100%;
  box-shadow: 0px 10px 10px -6px #62526c; }

b {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 2, 1;
  animation-direction: alternate; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

#logo-home {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 8.125rem;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 100px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  display: flex;
  justify-content: center; }

/* main */
.main {
  min-height: 100vh; }

.paginaprincipal {
  text-align: center; }

.color-primary {
  color: black; }

.contenedortexto {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav {
  width: 100%;
  padding-top: 0px; }

.navmenu {
  height: 60px;
  width: 100%;
  top: 130px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: fixed; }

.color-primary {
  color: #000000; }

/* menu nav principal */
.li a {
  font-family: inherit;
  font-size: 1em;
  font-weight: bolder;
  padding-right: 5px;
  padding-left: 0px; }

nav ul {
  list-style-type: none;
  font: 1.2em garamond;
  font-weight: bolder;
  text-align: center;
  background-color: #aa6fe6;
  width: 100%;
  padding-top: 15px;
  background-position: 1px;
  box-shadow: 0px 10px 10px -6px #3a1848; }

ul li a {
  text-decoration: none; }

ul li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px; }

/* menu secundario */
.link {
  font-family: inherit;
  font-size: 1em;
  font-weight: bolder;
  padding-right: 5px;
  padding-left: 0px; }

.menusecundario {
  display: flex;
  justify-content: space-between; }

.contenedor {
  display: grid;
  grid-template-areas: "hijo hijo" "hija hija"; }
  .contenedor .hijo {
    grid-area: "hijo";
    background-color: #aa6fe6; }
  .contenedor .hija {
    grid-area: "hija"; }

.fotoscoleccion, .fotos-beauty1, .fotos-cuadradas12 {
  height: 500px;
  margin: 2em 2em 2em 2em; }

/* video */
iframe {
  border-width: 2px;
  border-color: initial;
  border-image: initial;
  height: 800px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 100px; }

/* imagenes index */
.fotoshome {
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 0px;
  margin-left: 0;
  margin-right: 0;
  width: 220px;
  height: 350px; }

.fotoshome {
  object-position: 10px; }

/* imagenes de promociones*/
.promolooks .fotos-promo {
  width: 200px;
  height: 400px;
  margin: 8px;
  margin-top: 50px;
  margin-right: auto; }

.pagina-principal .promolooks {
  display: flex;
  justify-content: center; }

/* imagenes de new in*/
.fotos-newin {
  width: 100%;
  height: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em; }

/* imagenes de coleccion*/
.fotoscoleccion {
  width: 100%; }

.fotoscoleccion5 {
  width: 100%;
  height: 300px; }

/* imagenes de  beauty*/
.fotos-beauty {
  width: 300px;
  height: 300px;
  margin: 2em 2em 2em 2em; }

.fotos-beauty1 {
  width: 400px; }

.fotos-beauty2 {
  width: 200px;
  height: 200px;
  margin: 2em 2em 2em 2em; }

/* imagenes accesorios */
.fotos-cuadradas {
  width: 200px;
  height: 200px;
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em; }

.fotos-cuadradas1 {
  width: 400px;
  height: 200px;
  margin: 2em 2em 2em 2em; }

.fotos-cuadradas11 {
  width: 400px;
  height: 300px;
  padding: 3em 3em 3em 3em;
  margin-right: 3em; }

.fotos-cuadradas12 {
  width: 25em; }

.fotos-cuadradas13 {
  width: 300px;
  height: 450px;
  margin: 2em 2em 2em 2em; }

/* efectos beauty */
.zoom {
  transition: 1;
  transform: 2s; }

.zoom:hover {
  transform: scale(1.5); }

/* efectos imagenes */
.borderefect:hover {
  border: 2px solid black 0, 0, 0; }

.imagen:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }

.efecto:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #010002;
  -webkit-box-shadow: 0px 0px 15px 15px #cdc7d1;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.rotar:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }

/* tabla de promociones*/
table {
  border: #8f0ca3d9 2px solid; }

th {
  border: black 1px solid;
  padding: 1em 2em 1em 2em; }

td {
  border: black 1px solid;
  padding: 1em 2em 1em 2em; }

.tablapromo {
  display: flex;
  justify-content: center;
  padding-bottom: 5em; }

/* cards bootstrap */
.textolook {
  display: flex;
  justify-content: center;
  padding: 30px; }

.fotostarjetas {
  width: 100%;
  height: 400px; }

h1 {
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: 50px;
  line-height: 1.2; }

h2 {
  font-size: 2em;
  color: #aa6fe6;
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-bottom: 30px; }

h3 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 50px; }

h2 h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Barlow Condensed",Arial, Helvetica, sans-serif; }

/* parrafo accesorios*/
div .parrafo {
  box-sizing: border-box;
  text-align: center;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-left: 200px; }

/* iniciar sesion */
.registro {
  text-align: center;
  margin-top: 16px;
  margin-right: 4px;
  margin-bottom: 72px; }

.registro-registro {
  margin-top: 1em;
  margin-right: 8px;
  margin-bottom: 1em;
  margin-left: 4px; }

.socialmedia {
  width: 40px;
  height: 40px;
  font-size: 34px; }

/* footer revisar espaciados*/
.footer {
  background-color: #f2eef6;
  width: 100%;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 0px;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 30px;
  align-self: flex-end; }

/* nedia queries  */
@media all and (max-width: 992px) {
  /* Oculta el nav en la parte izquiera */
  .nav {
    display: none; } }

@media (min-width: 576px) {
  .logomobile {
    display: flex;
    align-items: center;
    justify-content: center; } }

@media all and (min-width: 701px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem; } }

/* acordeon preguntas frecuentes */
div.seccion {
  width: 100%;
  min-height: 50px; }

div.titulo {
  width: 100%;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid  #aa6fe6; }

p.titulo {
  margin: 13px;
  color: #aa6fe6; }

div.informacion {
  width: 100%;
  height: 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  transition: 2s;
  -webkit-transiton: height 2s; }

p.informacion {
  color: #4f4f4f; }

div.seccion:hover div.informacion {
  height: 180px; }

.detalles {
  float: right;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #aa6fe6;
  color: white; }

a.detalles {
  text-decoration: none; }

.detalles:hover {
  background-color: #aa6fe6; }

.marca {
  clear: both;
  height: 2px;
  width: 100%;
  background-color: #aa6fe6; }

div.informacion {
  width: 100%;
  height: 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  transition: 2.5s;
  -webkit-transiton: height 2.5s; }

p.informacion {
  color: #4f4f4f; }

div.seccion:hover div.informacion {
  height: 180px; }

.registro-registro {
  margin-top: 1em;
  margin-right: 4px;
  margin-bottom: 1em;
  margin-left: 4px; }

.botonesregistro {
  background-color: #aa6fe6;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-color: #aa6fe6;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase; }

.botonesregistro:hover {
  opacity: 0.50;
  -moz-opacity: .50;
  filter: alpha opacity=50; }

.botonesregistro {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  margin: 30px 15px; }
