/* main */
.main {
    min-height: 100vh;
}

.paginaprincipal {
    display: grid;
    align-content: center;
    justify-content: center;

}

.color-primary {
    color: $color-fuentes;
}

.contenedortexto {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}