// menu nav principal /
.li a {
    font-family:inherit ;
    font-size:  1em; 
    font-weight: bolder;
    padding-right: 5px;
    padding-left: 0px;
 
 }
 
 nav ul {
    list-style-type: none;
    font: 1.2em garamond;
    font-weight: bolder;
    text-align: center;
    background-color:$color-primario;
    width: 100%;
    padding-top: 15px; 
    background-position: 1px;
    box-shadow:  0px 10px 10px -6px $color-fuentes8;
 
 }
 
 ul li a {
    text-decoration: none;
 }
 
 ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    padding: 5px;
 
 }
 
// menu secundario /
.link {
   font-family:inherit ;
   font-size:  1em; 
   font-weight: bolder;
   padding-right: 5px;
   padding-left: 0px;
}
.menusecundario {
   display: flex;
   justify-content: space-between;
}

 