%espaciosimg {
    height: 400px;
    margin: $margin;
}

// video /
iframe {
    border-width: 2px;
    border-color: initial;
    border-image: initial;
    height: 800px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 140px;
}

// imagenes index /

.fotoshome {
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 220px;
    height: 350px;
    object-position: 10px;
}

// imagenes de promociones*/
.promolooks .fotos-promo {
    width: 200px;
    height: 400px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 8px;

}

.pagina-principal .promolooks {
    display: flex;
    justify-content: center;
}

// imagenes de new in/
.fotos-newin {
    width: 100%;
    height: 600px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

//imagenes de coleccion/
.fotoscoleccion {
    width: 100%;
    @extend%espaciosimg;
}

.fotoscoleccion5 {
    width: 100%;
    height: 300px;
}

// imagenes de  beauty/
.fotos-beauty {
    width: 300px;
    height: 300px;
    margin: $margin;
}

.fotos-beauty1 {
    width: 280px;
    @extend%espaciosimg;
}

.fotos-beauty2 {
    width: 200px;
    height: 200px;
    margin: $margin;
}

.fotos-beauty3 {
    width: 700px;
    @extend%espaciosimg;
}


//imagenes accesorios/
.fotos-cuadradas {
    width: 200px;
    height: 200px;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.fotos-cuadradas1 {
    width: 400px;
    height: 200px;
    margin: $margin;
}

.fotos-cuadradas11 {
    width: 400px;
    height: 300px;
    padding: 1em;
/*     margin-right: 3em;
 */}

.fotos-cuadradas12 {
    width: 25em;
    @extend%espaciosimg;

}

.fotos-cuadradas13 {
    width: 300px;
    height: 450px;
    margin: $margin;

}