
// tabla de promociones/
table {
    border: $color-fuentes7 2px solid;
 }
 
 
 th {
   @include bordes-table;

}
  
 td{  
    @include bordes-table;

}

 .tablapromo{
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    padding-right: 15px;
    padding-left: 15px;
}
.talles {
   margin-bottom: 50px;
   width: 450px;
   height: 400px;
}