
/* tabla de promociones*/
table {
    border: #8f0ca3d9 2px solid;
 }
 
 
 th {
   @include bordes-table;

}
  
 td{  
    @include bordes-table;

}

 .tablapromo{
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}