$color-primario: #aa6fe6;
$color-fuentes: black; 
$color-fuentes1: #fff; 
$color-fuentes2:  #ff00d4; 
$color-fuentes3: white; 
$color-fuentes4: #999; 
$color-fuentes5: #f2f2f2; 
$color-fuentes6: #ffffff; 
$color-fuentes7:#8f0ca3d9; 
$color-fuentes8: #3a1848;
$color-fuentes9: #f2eef6;

$margin: 2em 2em 2em 2em;
$margin1: 10px 10px 10px 10px;
$margin2: 30px 30px 50px 50px;
$margin3: 50px 30px 40px 50px;


$padding: 3em 3em 3em 3em;
$padding2: 15px 15px 15px 15px;
$spaciado1: 15px 15px 15px 15px;
$spaciado2: 50px 50px 50px 50px;
$spaciado3:10px 10px 10px 10px;
$paddingtabla: 1em 2em 1em 2em;

$border: 1px solid $color-fuentes;
