 /* efectos beauty */
 .zoom {
    transition: 1;transform: 2s; 
 }
      
 .zoom:hover {
    transform: scale(1.5); 
 }

 
 /* efectos imagenes */
 .borderefect:hover {
   border: 2px solid rgb(0, 0, 0);
 }

.imagen:hover {
   -webkit-transform: rotateY(180deg);
   -webkit-transform-style: preserve-3d;
   transform: rotateY(180deg);
   transform-style: preserve-3d;
}
.efecto:hover{
   border-radius:50%;
   -webkit-border-radius:50%;
   box-shadow: 0px 0px 15px 15px #010002;
   -webkit-box-shadow: 0px 0px 15px 15px #cdc7d1;
   transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
 }
 .rotar:hover {
   -webkit-transform: rotateY(180deg);
   -webkit-transform-style: preserve-3d;
   transform: rotateY(180deg);
   transform-style: preserve-3d;
}