/* tabla de promociones*/
table {
    border: #8f0ca3d9 2px solid;
 }
 
 th {
    border: black 1px solid;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }
  
 td{  
    border: black 1px solid;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }
 .tablapromo{
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
 }